<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">

<mapper namespace="com.github.chat.data.user.mapper.UserMapper">

    <select id="selectCountByUsername" resultType="java.lang.Integer">
        select count(*) from t_user
        where is_deleted = 0
        AND   username   = #{username}
    </select>

    <select id="selectOneByUsernameAndPassword" resultType="com.github.chat.data.user.entity.UserEntity">
        select * from t_user
        where is_deleted = 0
        AND   username   = #{username}
        AND   password   = #{password}
    </select>

    <insert id="insertUser">
        INSERT INTO t_user  (
            username,
            password,
            status
        )
        VALUES  (
            #{username},
            #{password},
            #{status}
        )
    </insert>

</mapper>