<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>

    function handlerSignIn(){
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        app.handlerLogin(username, password)
    }

    function handlerSignUp(){
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        app.handlerSignUp(username, password)
    }

    function fail(code){
        app.info(code);
    }

</script>
<body>
<h1>登录</h1>
<div>
    <div>
        账号：
        <input type="text" name="title" id="username">
    </div>
    <div>
        密码：
        <input type="text" name="description" id="password">
    </div>
    <button onclick="handlerSignIn()">登录</button>
    <button onclick="handlerSignUp()">注册</button>
</div>
</body>

</html>